{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>The Stittsville Brainery is a completely volunteer-lead initiative.  We
    aim to offer low-cost classes and workshops that are lead by local experts
    from the community.  Essentially, crowd-sourced education and learning.  These
    classes can be on any variety of subjects, from learning to knit, to origami,
    to learning to code... the sky is the limit!</p>

    <p>We also love the idea of paying it forward.  We'd love it if you attended
    one of our classes or workshops, and then taught or shared what you learned to
    someone else. And in some of our classes, we may collect donations for a local
    charity.  In fact, in our first class on Bullet Journaling, we'll be collecting
    donations of canned goods for the Stittsville Food Bank.</p>

    <p>If you're interested in teaching a class, please get in touch with us. We'd
    love to hear from you!</p> 
</div>
{% endblock %}
