<html>
    <head>
        <title>Welcome to the Stittsville Brainery!</title>
        <link rel="icon" href="/static/images/brainery_with_heart.png">
        <link
            type="text/css"
            href="/static/bootstrap/css/bootstrap.css"
            rel="stylesheet" />
        <link
            type="text/css"
            href="/static/screen.css"
            rel="stylesheet" />
        <script
            type="text/javascript"
            src="/static/jquery.js"></script>
        <script
            type="text/javascript"
            src="/static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Main menu -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <ul class="nav navbar-nav" role="navigation">
                        <li><a class="menu" href="/">HOME</a></li>
                        <li><a class="menu" href="/learn/">LEARN</a></li>
                        <li><a class="menu" href="/teach/">TEACH</a></li>
                        <li><a class="menu" href="/volunteer/">VOLUNTEER</a></li>
                        <li><a class="menu" href="/faq/">FAQ</a></li>
                        <li><a class="menu" href="/policies/">POLICIES</a></li>
                        <li><a class="menu" href="/about/">ABOUT</a></li>
                        <li><a class="menu" href="/contact/">CONTACT</a></li>
                        <li><img id="logo"
                                 src="/static/images/brain_with_heart.png"
                                 alt="Brainery Logo Large" /></li>
                    </ul>
                </div>
            </div>
        </nav>

    {% block content %}
    You should not see this
    {% endblock %}

    </body>
</html>
