{% extends "base.html" %}

{% block content %}
<h1>FAQ</h1>
<p>Q.  Are instructors paid?</p>
<p>A.  No.  We are completely volunteer.  Neither instructors, nor volunteers
are paid.</p>
<p>Q.  How long is a typical class or workshop?</p>
<p>A.  Two hours on average, but they can be anywhere from 1-3 hours.</p>
<p>Q.  I'm interested in being an instructor.  How can I get in touch with
you?</p>
<p>A.  Please email maria@stittsvillebrainery.ca for more information.</p> 
<p>Q.  I proposed a workshop.  How long will it take until I hear back from
you?</p>
<p>A.  We aim to get back to you within a week of your submission.</p>
<p>Q.  Can I sell my product during a workshop?</p>
<p>A.  Short answer is no.</p>
<p>Q.  Can I sell a service during a workshop?</p>
<p>A.  Short answer is no.</p>
<p>Q.  Can I tell people about my business during a workshop?</p>
<p>A.  Yes, you can briefly mention your business during a workshop. But our
primary goal is to offer information and educate only.</p>
<p>Q.  Can I tell people about my charity or non-profit organization during a
workshop?</p>
<p>A.  Yes.</p>
<p>Q.  I proposed a topic.  Does that mean that it will be scheduled as
talk?</p>
<p>A.  Not necessarily.  It will be reviewed and if we can find the right
venue to host it, and we think we can get enough interest in the topic, then
we'll go forward with it.</p>
<p>Q.  I'd like to volunteer.  What positions are available?</p>
<p>A.  Please email maria@stittsvillebrainery.ca if you are interested in
helping out.</p> 
<p>Q.  I'd like to offer some feedback about a workshop I attended.  How can I
do so?</p>
<p>A.  We'd love to hear from you.  All feedback, the good, the bad and the
ugly, helps us become better at what we do.  Please email us with your
thoughts.</p>
<p>Q.  I'd like to learn about subject X.  Can I suggest a topic?</p>
<p>A.  Please email us with your topic suggestions and we'll try our best to
make it happen.</p>
{% endblock %}
