<!doctype html>
<html>
    <head>
        <title>Coming soon!</title>
        <link
            type="text/css"
            href="/static/bootstrap/css/bootstrap.css"
            rel="stylesheet" />
        <script
            type="text/javascript"
            src="/static/bootstrap/js/bootstrap.js"></script>
    </head>
    <body bgcolor="#ffffff" style="margins: 20px; padding: 20px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-4">
                    <img src="/static/images/noun_brain_web.png" />
                </div>
                <div class="col-xs-5"></div>
            </div>
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-5">
                    <h1>Stittsville Brainery...coming soon!</h1>
                </div>
                <div class="col-xs-3"></div>
            </div>
    </body>
</html>
