{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="container-fluid">
                <h1>Upcoming Events</h1>
                <h2>Introduction to Effective Public Speaking (Coming Soon!)</h2>
                <p>Description coming soon!</p>
                <h2>Sewing 101 (Coming Soon!)</h2>
                <p>
                    Is your sewing machine still in the box? Does threading it
                    look intimidating? This sewing basics workshop will teach
                    you all the essentials you need to start your first
                    project. Learn the different parts of your machine and why
                    they are important, discover how to wind a bobbin and
                    thread your sewing machine, master stitch control, learn
                    about tension and the best stitches for different
                    fabrics.
                </p>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="container-fluid">
                <!-- Bar graph -->
                <h1>Brainery Impact Meter</h2>
                <dl>
                    <dd class="percentage percentage=0">
                        <span class="text">Number of participants: 17</span>
                    </dd>
                    <dd class="percentage percentage=0">
                        <span class="text">Number of workshops: 1</span>
                    </dd>
                    <dd class="percentage percentage=0">
                        <span class="text">Hours of instruction: 2</span>
                    </dd>
                    <dd class="percentage percentage=0">
                        <span class="text">Dollars raised for Charity: 5</span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}
