{% extends "base.html" %}

{% block content %}
<h1>Rules for Participants</h1>
<ol>
    <li>Please arrive 5-10 minutes before the start of your workshop.  This will give you time to sign-in and get settled before class begins.</li>
    <li>Please give us at least 48 hours notice in the event you need to cancel.  This is to allow us to offer the spot to the next individual on the list.</li>
    <li>Do clean up after yourself at the end of class.  Please take any garbage, recycling and/or compostables with you and dispose of them in the appropriate fashion.</li>
    <li>Please be aware that participation is at your own risk.  Neither the venue, nor the instructor, nor the volunteers are responsible if you get hurt or injured.</li>
    <li>Please be aware that we may take photographs while the workshops are taking place, and you may appear in these photographs.  Photographs may appear on the Stittsville Brainery facebook group or website.</li>
</ol>
{% endblock %}
